a:hover{color:#46f}
a:link,a:visited{color:#238}
body{font-size:12px;font-family:'Noto Sans','Lucida Grande','Tahoma','Verdana','Arial';letter-spacing:1px;text-decoration:none;border-style:none;margin:0;padding:0;white-space:normal;background-color:#ccc;color:#033}
hr{border-style:solid none none;margin:5px 2px 0;padding:2px;color:#900}
small{font-size:10px}
table{font-weight:700}
td{margin:auto;padding:auto;min-width:30px}
.ci,.co{margin:auto;width:98%;padding:12px}
.ci,hr,.grad{border-width:1px}
.ci{background-color:#fff;border-style:solid;border-color:#aaa;text-align:left}
.co,body,td{text-align:center;vertical-align:top}
.eol{background-image:url(eol.png)}
.grad{border-style:solid none solid none;border-color:rgba(0,0,0,.3);position:relative;width:100%;height:12px}
.h1,.h1l,.h1l2,.h1t,.h5,.top{margin:0;padding:4px;border-width:1px;border-color:#999}
.h1,.h1l,.h1l2,.h1t,.top{background-color:#eee}
.h1,.h5{border-style:solid solid none none}
.h1l2{border-style:solid dotted none solid}
.h1l{border-style:solid dotted none none}
.h1t{border-style:solid solid none}
.h5{background-color:#eec}
.top{border-style:none;border-radius:42px 42px 0 0}
.xb{color:#00f}
.xg{color:green}
.xo{color:#f80}
.xr,a:active,a:focus{color:red}
