a:hover{color:#46f}
a:link,a:visited{color:#238}
body{font-size:12px;font-family:'Open Sans',sans-serif,'Lucida Grande',Tahoma,Verdana,Arial,MingLiU;letter-spacing:1px;text-decoration:none;border-style:none;margin:0;padding:0;white-space:normal;background-color:#ccc;color:#033}
hr{border-style:solid none none;margin:5px 2px 0;padding:2px;color:#900}
small{font-size:10px}
table{font-weight:700}
td{margin:auto;padding:auto;min-width:30px}
.ci,.co{margin:auto;width:98%}
.ci,hr{border-width:1px}
.ci{background-color:#fff;border-style:solid;border-color:#aaa;text-align:left;padding:12px}
.co{padding:12}
.h1,.h1l,.h1l2,.h1t,.h5,.h5l{margin:0;padding:4px;border-width:1px;border-color:#999}
.h1,.h1l,.h1l2,.h1t{background-color:#eee}
.h1,.h5{border-style:solid solid none none}
.h1l,.h5l{border-style:solid dotted solid solid}
.h1l2{border-style:solid dotted none solid}
.h1t{border-style:solid solid none}
.h5,.h5l{background-color:#eec}
.co,body,td{text-align:center}
.xb{color:#00f}
.xg{color:green}
.xo{color:#f80}
.xr,a:active,a:focus{color:red}
.eol{background-image:url(eol.png)}
